.card {
	text-align: center;
}

.card-details {
	background: $white;
	border:1px solid $light-gray;
	padding:$space $space*3;
	display:inline-block;
	text-align: center;
	position:relative;
	margin-top:-30px;

	ul li {
		padding-bottom:$space;
		margin-bottom:$space;
		border-bottom:1px solid $light-gray;

		&:last-child {
			border-bottom:0;
			padding-bottom:0;
			margin-bottom:0;
		}
	}
}

.card-image {
	position:relative;
}

.title {
	display: inline-block;
	width: 280px;
	text-align: left;
	vertical-align: middle;
}

// One image
.one-image img {
	display:block;
	width:100%;
}

// Two images
.two-images .card-image {
	float:left;
	background:$light-gray;
	width:49.75%;
	padding-bottom:49.75%;
}

.two-images .card-image:nth-of-type(3) { margin-left:.5%; }

// Three images
.three-images .card-image {
	float:left;
	background:$light-gray;
	width:33%;
	padding-bottom:33%;
	margin-right:.5%;
}

.three-images .card-image:nth-of-type(4) { margin:0; }

.two-images .card-image, .three-images .card-image {
	a {
		position:absolute;
		overflow: hidden;
		top: 0; left: 0; bottom: 0; right: 0;

		img { width:100%; }
	}
}

// Video
.card-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.card.video .card-details { margin-top:$space*2; }

.card-options {
	color:white;
	position: absolute;
	z-index:2;
	text-align: left;
	

	.icon-dot-3 {
		padding-top:5px;
		padding-left:8px;
		display:inline-block;
		text-shadow: 1px 1px 5px #000;
	}

	a.icon-dot-3 { color: $white; }
}

.tooltip {
	margin-left:11px;
	color:$dark-gray;
	font-size:.7rem;
	font-family: $font-family-2;
	background:$white;
	box-shadow: 1px 1px 10px rgba(0,0,0,.1);
	position:relative;
	display:none;

	ul li {
		border-bottom:1px solid $light-gray;

		a {
			font-weight: normal;
			display:block;
			padding:$space $space*4 $space $space;

			&:hover {
				background:$blue;
				color: $white;
			}
		}

		&:last-child {
			border:0;
		}
	}

	&.open {
		display:block;
	}
}

// Media Queries
@media all and (max-width: 460px) {
	.card-details {
		width: 95%;
		padding: $space;
		margin-top:0;
	}

	.card-details .btn { max-width:28%; }
	.card.video .card-details { margin-top:0; }

	.article {
		background:$white;
		padding:$space*2;
		width:95%;
		margin:$space auto;
		border:1px solid $light-gray;
	}

	.title { width: 70%; }
}