// Colors

$red: red; 
$orange: #D96B3B;
$light-orange: #EF6E4E;

$pale-blue: #6B7B8D;
$blue: #375371;
$dark-blue: #263D56;

$dark-gray: #4A4A4A;
$gray: #ADADAD;
$light-gray: #ECECEC;
$lightest-gray: #FCFCFC;

$white: #FFFFFF;

// Typography 
$font-family-1: "calluna", serif;
$font-family-2: "proxima-nova", Arial, Sans-Serif;
$base-font-size: 20px;
$base-line-height: 1.5;
$base-color: $dark-gray;
$base-link-color: $blue;
$base-link-hover-color: $dark-blue;

// Margins and Padding
$space:.5rem;